:root {
  // Breakpoints
  --breakpoint-xs: 20rem; // 320px (Extra small)
  --breakpoint-sm: 30rem; // 480px (Small)
  --breakpoint-md: 48rem; // 768px (Medium)
  --breakpoint-lg: 64rem; // 1024px (Large)
  --breakpoint-xl: 75rem; // 1200px (Extra large)
  --breakpoint-xxl: 90rem; // 1440px (Extra extra large)
}
