:root {
  --spacing-quarter: 0.25rem; // Extra small
  --spacing-half: 0.5rem; // Small
  --spacing-one: 1rem; // Medium
  --spacing-one-half: 1.5rem; // Large
  --spacing-two: 2rem; // Extra large
}
