.default {
  width: 2rem; // 32px
  height: 2rem; // 32px
}

.small {
  width: 1.5rem; // 24px
  height: 1.5rem; // 24px
}

.micro {
  width: 1rem; // 16px
  height: 1rem; // 16px
}

.large {
  width: 3rem; // 48px
  height: 3rem; // 48px
}
