.banner {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-background-accent);
  box-shadow: var(--shadow-md);
}

.breadcrumbsContainer {
  margin-bottom: 1rem;
}

.breadcrumbs {
  font-size: 0.875rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.title {
  margin: 0.5rem 0;
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  text-align: center;

  .subtitle {
  }

  .date {
  }
}
